 *{
    margin: 0;
    padding: 0;
    list-style: none ;
    outline: 0;
    font-family: 'Arial','Sans-Serif';
}

#content {
	margin: 0 auto;
	width: 890px;
	height: 200px;
        position: relative;
}

#carrossel, #car-sala-a, #car-sala-b, #car-sala-c {
	float: left;
	width: 650px;
	overflow: hidden;
	height: 150px;
        margin-left: 20px;
}

#car-sala-a, #car-sala-b, #car-sala-c {
    width: 450px;
}

#carrossel ul, #car-sala-a ul, #car-sala-b ul, #car-sala-c ul {
	float: left;
        width: 600px;
}
#carrossel ul li, #car-sala-a ul li, #car-sala-b ul li, #car-sala-c ul li {
	width: 200px;
	height: 150px;
	float: left;
	margin: 0 5px;
}

 .next {
	position: absolute;
	width: 25px;
	text-align: center;
        margin-left: -5px;
}

.prev {
	position: absolute;
	width: 25px;
	text-align: center;
        left:0;
}

.gallery-thumb {
    cursor: pointer;
    opacity: 0.7;
}

.gallery-thumb:hover {
    opacity: 1;
}

.gallery-p {
    font-family: arial, sans-serif; 
    font-size: 1em;
    color: #000;
    margin-top: 20px;
}

.gallery-img {
    position: relative;
    -web-kit-transition: all 2s;transition: all 2s;
    
}

.gallery-img img {
    width: 100%;
    
    
 
}

.gallery-img p {
    position: absolute;
    bottom: 100px;
    right: 150px;
    font-size: 3em;
    color: #fff;
    text-shadow: 1px 1px 10px #636363;  
}

#gallery-01 {transition: all 2s;}

.on {display: block; }
.on img {opacity: 1;
        }

.off {display: none;}
.off img {opacity: 0;}

.room-on {position: absolute; top: 0; opacity: 1;}
.room-off {position: absolute; top: 0; opacity:0;}