html{
	height: 100%;
}

body{
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	color: #fff;
	font-family: nexa;
	letter-spacing: 2px;
}

h1, .h1{
	font-size: 42px;
	font-weight: normal;
	letter-spacing: 4px;
	padding: 30px 10px;
	margin: 0 0 0 60px;
}

h2, .h2{
	font-size: 42px;
	font-weight: normal;
	letter-spacing: 4px;
	padding: 30px 10px;
	margin: 0 0 0 60px;
}

h3, .h3{
	font-size: 36px;
	font-weight: normal;
	letter-spacing: 3px;
	padding: 5px;
	margin: 10px 5px;
	line-height: 0.9;
}

p{
	line-height: 1.8;
}

.clear{
	clear: both;
}

.content-wrapper{
	width: 100%;
    max-width: 1024px;
	margin: 0 auto;
}

.title-left{
    float: left;
    width: 20%;
    margin: 0;
    height: 125px;
}

.title-right {
    float: left;
    width:  80%;
    margin: 0;
    height: 125px;
}

header{
	width: 100%;
	z-index: 10;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
}

	.logo{
		float: left;
		width: 281px;
		padding: 10px;
		text-indent: -9999px;
	}

		h1{
			line-height: 0px;
			padding: 0px;
			margin: 0px;
		}

		.logo-img{
			border: none;
		}

	.menu{
		float: right;
	}

		.menu-container{
			padding: 0px;
			margin: 0px;
			list-style: none;
		}

			.menu-item{
				display: inline;
				float: left;	
			}

				.menu-item a{
					color: #fff;
					text-decoration: none;
					font-size: 20px;
					letter-spacing: 1px;
					display: block;
					padding: 25px 20px 40px 20px;
					margin: 15px 0 0 0;
				}

					.menu-item a:hover{
						background-color: #fff;
						color: #000;
					}

					.menu-item a.green:hover{
						background-color: #c0dd9b;
					}

.main{
       width: 100%;
}
    .about{
        width: 100%;
        background-color: #c0dd9b;
    }
    
        .about-header{
        width: 100%;
        }
    
            h2.about-pretitle {
                font-family: arial, sans-serif;
                color: #000;
                font-size: 1.8em;
                text-align: center;
                font-weight: lighter;
                margin: 0;
                padding-top: 45px;
            }

            h2.about-title {
                font-family: arial, sans-serif;
                color: #000;
                font-size: 1.8em;
                text-align: center;
                font-weight: bold;
                margin: 0 auto;
                display: inline-block;
                width: 100%;
                padding-top: 45px;
                padding-bottom: 0;

            }
            
            p.about-subtitle {
                font-family: arial, sans-serif;
                color: #000;
                font-size: 0.8em;
                text-align: center;
                font-weight: normal;
                margin: 0 auto;
                display: inline-block;
                width: 100%;
                padding-top: 0px;
            }

        .about-text {
            font-family: arial, sans-serif; 
            font-size: 1em;
            color: #000;
            letter-spacing: 1px;
            text-align: left;
            margin-top: 0;
        }    
    
        .mapa-sobre {
            width: 100%;
            display: block;
        }
        
    .who-play {
        width: 100%;
        background-color: #fff;
    }   
    
        .who-play-header {
            background-color: #da8937;
            width: 100%;
        }
        
    .rooms {
        width: 100%;
        background-color: #fff;
    }
    
        .rooms-header {
            background-color: #435ecf;
            width: 100%;
        }
        
            h2.rooms-pretitle {
                font-family: arial, sans-serif;
                color: #000;
                font-size: 1.8em;
                text-align: center;
                font-weight: lighter;
                margin: 0;
                padding-top: 45px;
                letter-spacing: 0;
            }

            h2.rooms-title {
                font-family: arial, sans-serif;
                color: #000;
                font-size: 1.8em;
                text-align: center;
                font-weight: bold;
                margin: 0 auto;
                display: inline-block;
                width: 100%;
                padding-top: 45px;
                padding-bottom: 0;

            }
            
            p.rooms-subtitle {
                font-family: arial, sans-serif;
                color: #000;
                font-size: 0.8em;
                text-align: center;
                font-weight: normal;
                margin: 0 auto;
                display: inline-block;
                width: 100%;
                padding-top: 0px;
            }
        
        .rooms-main {
            width: 100%;
            height: auto;
            position: relative;
        }
            
            #sala-a, #sala-b, #sala-c {
                font-family: arial, sans-serif; 
                font-size: 0.8em; 
                font-weight: normal;
            }
            
            .salas-conteudo {
                position: absolute;
                top: 0;
                left: 0;
                width: 80%;
                margin: 45px 10% 0;
                height: auto;
                /*background-color: rgba(255,255,255,0.5);*/
                z-index: 10;          
            }
            
            .salas-conteudo > p {
                font-size: 2em;
                width: 195px;
                text-align: center;
            }
            
            .salas-bt-agendar:hover, .salas-bt-equipamentos:hover {
                background-color: rgba(0,0,0,0.5);
                cursor: pointer;
            }
            
            .salas-bt-agendar {
            width: 175px;
            height: 20px;
            border: 2px solid #fff;
            padding: 8px;
            padding-bottom: 12px;
            margin-top: 7px;
        }
        
        .salas-bt-agendar p {
            font-size: 1em;
            color: #fff;
            margin: 0;
            text-align: center;
        }
        
        .salas-bt-equipamentos {
            
            
            border: 2px solid #fff;
            padding: 8px;
            padding-bottom: 12px;
            margin-top: 25px;
            background-color: transparent;
        }
        
        .salas-bt-equipamentos p {
            float: left;
            color: #fff;
            font-size: 1em;
            text-align: center;
            margin-left: 15px;
        }
        
        .salas-bt-equipamentos .arrow-down-div {
            float: left;
            margin-top: 2px;
            margin-left: 5px;
            background-image: url(../imagens/icon-map-24.png);
            width: 24px;
            height: 24px;
        }
        
        .equipamentos-conteudo {
            background-color: rgba(0,0,0,0.5);
            display: none;
        }
        
            .menu-salas {
                float: left ;
                margin-left: 50px;
            }
            
                .menu-salas p {
                    color:#000 ;
                }

    
                                        
footer{
	background-color: #000;
}

	.footer-header{
		background-color: #fff;
		color: #000;
	}

	.footer-main{
		padding: 50px 0 30px 0;
	}

		.contact-form{
			width: 430px;
			margin: 0 0 0 130px;
			float: left;
		}

			.contact-form-label{
				padding: 8px 0;
				display: block;
				clear: both;
			}

			.contact-form-label span{
				font-size: 18px;
				letter-spacing: 2px;
				display: block;
				float: left;
				margin: 10px 0 0 0;
			}

			.contact-form-field{
				width: 330px;
				margin: 5px 0;
				float: right;
			}

				.contact-form-field.input{
					line-height: 25px;
				}

			.contact-form-submit{
				float: right;
				background-color: rgba(0, 0, 0, 0);
				border: 2px solid #fff;
				color: #fff;
				font-size: 16px;
				letter-spacing: 2px;
				margin: 10px 0 0 0;
				padding: 5px 40px;
			}


		.footer-right{
			width: 340px;
			float: right;
		}

			.footer-right h3{
				margin-top: 0;
				margin-left: 0;
				padding-top: 0;
				padding-left: 0;
			}

	.footer-footer{
		background-color: #fff;
		color: #666;
	}

		.footer-footer p{
			padding: 20px;
			margin: 0px;
		}

		.copyright{
			float: left;
			text-align: left;
		}

		.credits{
			float: right;
			text-align: right;
		}

			.credits a{
				color: #666;
			}

			.credits a:hover{
				text-decoration: underline;
			}
                        
                        
                       
