html{
	height: 100%;
}

body{
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	color: #fff;
	font-family: nexa;
	letter-spacing: 2px;
}

h1, .h1{
	font-size: 42px;
	font-weight: normal;
	letter-spacing: 4px;
	padding: 30px 10px;
	margin: 0 0 0 60px;
}

h2, .h2{
	font-size: 42px;
	font-weight: normal;
	letter-spacing: 4px;
	padding: 30px 10px;
	margin: 0 0 0 60px;
}

h3, .h3{
	font-size: 36px;
	font-weight: normal;
	letter-spacing: 3px;
	padding: 5px;
	margin: 10px 5px;
	line-height: 0.9;
}

p{
	line-height: 1.8;
}

.button{
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #fff;
	color: #fff;
	font-size: 16px;
	letter-spacing: 2px;
	padding: 5px 40px;
	cursor: pointer;
}

	.button:hover{
		background-color: #fff;
		color: #000;
	}

.black{ color: #000; }

.clear{
	clear: both;
}

.content-wrapper{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

header .content-wrapper{
	width: 90%;
	max-width: none;
}

.title-left{
	float: left;
	margin: 0 20px 0 20px;
	height: 125px;
}

.title-right {
	float: left;
	margin: 0;
	height: 125px;
}

header{
	width: 100%;
	z-index: 10;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
}
	.fixed-header {
			position: fixed;
			top: 0;
			z-index: 99;
		}

	.logo{
		float: left;
		width: 281px;
		padding: 10px;
		text-indent: -9999px;
	}

		h1{
			line-height: 0px;
			padding: 0px;
			margin: 0px;
		}

		.logo-img{
			border: none;
		}

	.menu{
		float: right;
	}
		.menu-container{
			padding: 0px;
			margin: 0px;
			list-style: none;
		}

			.menu-item{
				display: inline;
				float: left;	
			}

				.menu-item a{
					color: #fff;
					text-decoration: none;
					font-size: 20px;
					letter-spacing: 1px;
					display: block;
					padding: 25px 20px 40px 20px;
					margin: 15px 0 0 0;
				}

					.menu-item a:hover{
						background-color: #fff;
						color: #000;
					}

					.menu-item a.green:hover{
						background-color: #c0dd9b;
					}

.main{
	   width: 100%;
}
	.social{
		position: absolute;
		left: 50%;
		width: 186px;
		margin: 0 0 0 -93px;
		padding: 0;
		bottom: 150px;
		list-style: none;
	}

		.social li{
			display: inline;
		}

			.social-link{
				text-indent: -9999px;
				display: block;
				width: 32px;
				height: 32px;
				float: left;
				margin: 0 15px;
			}

				.social-facebook{ background: url('../imagens/icon-map32.png') -96px 0 no-repeat; }
				.social-instagram{ background: url('../imagens/icon-map32.png') -64px 0 no-repeat; }
				.social-twitter{ background: url('../imagens/icon-map32.png') -128px 0 no-repeat; }

		.social-bar{
			clear: both;
			padding: 0;
			margin: 25px 0 0 0;
			border-top: none;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 10px solid #fff;
		}

	.section-header{
		width: 100%;
	}

		h2.section-pretitle {
			font-family: arial, sans-serif;
			color: #000;
			font-size: 1.8em;
			text-align: left;
			font-weight: lighter;
			margin: 0;
			padding-top: 45px;
		}

		h2.section-title {
			font-family: arial, sans-serif;
			color: #000;
			font-size: 1.8em;
			text-align: left;
			font-weight: bold;
			margin: 0 auto;
			display: inline-block;
			padding: 0;
			padding-top: 45px;

		}
		
		p.section-subtitle {
			font-family: arial, sans-serif;
			color: #000;
			font-size: 0.8em;
			text-align: left;
			font-weight: normal;
			padding-top: 0px;
			margin: 0;
		}

	.section-text {
		font-family: arial, sans-serif; 
		font-size: 1em;
		color: #000;
		letter-spacing: 1px;
		text-align: left;
		margin-top: 0;
	}    

	.about{
		width: 100%;
		background-color: #c0dd9b;
	}
	
		.mapa-sobre {
			width: 100%;
			display: block;
		}
		
	.who-play {
		width: 100%;
		background-color: #fff;
	}   
	
		.who-play-header {
			background-color: #da8937;
			width: 100%;
		}
		
	.rooms {
		width: 100%;
		background-color: #fff;
	}
	
		.rooms-header {
			background-color: #435ecf;
		}
		
		.rooms-main {
			width: 100%;
			height: auto;
			position: relative;
		}
			
			#sala-a, #sala-b, #sala-c {
				font-family: arial, sans-serif; 
				font-size: 0.8em; 
				font-weight: normal;
			}
			
			.salas-conteudo {
				position: absolute;
				top: 0;
				left: 0;
				width: 80%;
				margin: 45px 10% 0;
				height: auto;
				/*background-color: rgba(255,255,255,0.5);*/
				z-index: 10;          
			}
			
			.salas-conteudo > p {
				font-size: 2em;
				width: 195px;
				text-align: center;
			}
			
			
			.salas-bt-agendar {
			width: 175px;
			height: 20px;
			border: 2px solid #fff;
			padding: 8px;
			padding-bottom: 12px;
			margin-top: 7px;
			background-color: rgba(0,0,0,0.5);
			cursor: pointer;
		}
		
		.salas-bt-agendar p {
			font-size: 1em;
			color: #fff;
			margin: 0;
			text-align: center;
		}
		
		.salas-bt-equipamentos, .salas-bt-equipamentos-up {
			
			
			border: 2px solid #fff;
			padding: 8px;
			padding-bottom: 10px;
			margin-top: 25px;
			background-color: rgba(0,0,0,0.5);
		}
		
		.salas-bt-equipamentos p, .salas-bt-equipamentos-up p {
			float: left;
			color: #fff;
			font-size: 1em;
			text-align: center;
			margin: 0 0 0 5px;
		}
		
		.salas-bt-equipamentos .arrow-down-div, .salas-bt-equipamentos-up .arrow-up-div {
			float: left;
			margin-top: 2px;
			margin-left: 5px;
			background-image: url(../imagens/icon-map-24.png);
			width: 24px;
			height: 24px;
			cursor: pointer;
		}
		
		.salas-bt-equipamentos .arrow-up-div, .salas-bt-equipamentos-up .arrow-up-div {
			float: left;
			margin-top: 2px;
			margin-left: 5px;
			background-image: url(../imagens/icon-map-24.png);
			width: 24px;
			height: 24px;
			background-position: -24px 0;
			
		}
		
		
		
		.equipamentos-conteudo {
			display: none;
		}
		
		.equipamentos-conteudo img {
			width: 450px;
			margin: 0 auto;
			display: block;
		}
		
			.menu-salas {
				float: left ;
				margin-left: 50px;
			}
			
				.menu-salas p {
					color:#000 ;
				}

	.calendar {
		background-color: #000;
		color: #fff;
	}

		.calendar-header {
			background-color: #fff;
			color: #000;
		}

		.calendar .section-main{
			padding: 30px 10px;
		}
			.calendar-salas{
				float: left;
				margin: 0 20px 10px 0;
			}

				.calendar-salas.active{
					background-color: #fff;
					color: #000;
				}

			.calendar-agende{
				float: right;
				margin: 0 0 10px 0;
			}

			.calendar-iframe{
				width: 100%;
			}
										
footer{
	background-color: #000;
}

	.footer-header{
		background-color: #fff;
		color: #000;
	}

	.footer-main{
		padding: 50px 0 30px 0;
	}

		.contact-form{
			width: 430px;
			margin: 0 0 0 130px;
			float: left;
		}

			.contact-form-label{
				padding: 8px 0;
				display: block;
				clear: both;
			}

			.contact-form-label span{
				font-size: 18px;
				letter-spacing: 2px;
				display: block;
				float: left;
				margin: 10px 0 0 0;
			}

			.contact-form-field{
				width: 330px;
				margin: 5px 0;
				float: right;
			}

				.contact-form-field.input{
					line-height: 25px;
				}

			.contact-form-submit{
				float: right;
				margin: 10px 0 0 0;
			}


		.footer-right{
			width: 340px;
			float: right;
		}

			.footer-right h3{
				margin-top: 0;
				margin-left: 0;
				padding-top: 0;
				padding-left: 0;
			}

	.footer-footer{
		background-color: #fff;
		color: #666;
	}

		.footer-footer p{
			padding: 20px;
			margin: 0px;
		}

		.copyright{
			float: left;
			text-align: left;
		}

		.credits{
			float: right;
			text-align: right;
		}

			.credits a{
				color: #666;
			}

			.credits a:hover{
				text-decoration: underline;
			}
						
				
						
						.offf img {
	display: none;
}

					   
