/*******************************
***********SLIDERS**************
*******************************/
.slider-content {
	margin: 0px auto;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #000;
}

	.slider-content .slider-list {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.slider-content .slider-list li{
		width: 100%;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}	
	.slider-content img{
		padding-top: 100px;
		position: relative;
		width: 100%;
		display: block;
	}

	/**********/
	/* Arrows */
	/**********/

	.slider-content .slider-arrow{
		position: absolute;
		top: 45%;
		display: block;
		z-index: 5;
		margin: 0px 5px;
		width: 0; 
		height: 0; 
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
	}

	.slider-content .slider-left-arrow{
		left:10px;
		border-right: 25px solid #fff;
	}

		.slider-content .slider-left-arrow:hover{
			border-right-color: #666;
		}

	.slider-content .slider-right-arrow{
		right:10px;
		border-left: 25px solid #fff;
	}

		.slider-content .slider-right-arrow:hover{
			border-left-color: #666;
		}


		/* PAGER */
		.slider-pager{
			float: right;
			position: absolute;
			bottom: 10px;
			right: 10px;
		}

		.slider-pager.slider-default-pager a {
			display: block;
			float: left;
			background-color: #fff;
			width: 8px;
			height: 8px;
			margin: 0 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			text-indent: -9999px;
			border: 1px solid #000;
		}

		.slider-pager.slider-default-pager a:hover,
		.slider-pager.slider-default-pager a.active {
			background: #000;
			border-color: #fff;
		}